<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Anova Scan</title>
</head>
<body>
    <div class="container">
        <header>
            <h2>Anova Scan</h2>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            {% if current_user.is_admin %}
                <a href="/admin" class="logout-btn">Admin</a>
            {% endif %}
        </header>
        <main>
            <section>
                <h1>Scan Barcode</h1>
                <form id="upload-image-form" method="POST" enctype="multipart/form-data">
                    <label for="image" class="upload-btn">Choose Image File</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </form>
            </section>
            <section>
                <h1>Upload CSV</h1>
                <form id="upload-csv-form" method="POST" enctype="multipart/form-data">
                    <label for="csvfile" class="upload-btn">Choose CSV File</label>
                    <input type="file" id="csvfile" name="csvfile" accept=".csv">
                </form>
            </section>
            <section id="barcode-result">
                <h2>Barcode Result</h2>
                <p id="barcode"></p>
            </section>
            <section id="row-data">
                <h2>Row Data</h2>
                <p id="produit"></p>
                <p id="ppv"></p>
                <p id="pph"></p>
            </section>
            
        </main>
    </div>
    <script>
        let csvUploaded = {{ csv_uploaded | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
